/* estilo.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/fondo2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fija la imagen de fondo */
    font-size: 25px; /* Tamaño de fuente base */
    line-height: 1.6; /* Espaciado de línea */
    color: #00b63d79; /* Color de texto general */
    letter-spacing: 0.5px; /* Espaciado entre letras */
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header .logo-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.logo-header img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border-radius: 50%;
}

.logo-header h1 {
    font-size: 3rem; /* Tamaño grande para h1 */
    margin: 0;
    font-weight: bold; /* Aumenta el peso de la fuente */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra de texto para destacar */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem; /* Tamaño para enlaces */
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ccc;
}

main {
    padding: 20px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.category-item {
    width: 200px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.category-item:hover {
    transform: translateY(-5px);
}

.category-item img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.category-item h3 {
    margin: 5px 0;
    font-size: 1.5rem; /* Tamaño para títulos de categorías */
}

.category-item p {
    color: #666;
    font-size: 1rem; /* Tamaño para texto secundario */
}

.category-products {
    display: none;
}

.background-image {
    background-image: url('img/category_background.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.product-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 10px;
    text-align: center;
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

button {
    background-color: #007bff; /* Color de fondo para botones */
    color: white; /* Color de texto para botones */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el ratón sobre botones */
}
